/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.10.2015, 13:41:44
    Author     : johannesriesterer
*/


* {
    margin: 0;
    padding: 0;
}


#videocontainer {
    background-color: "black";
    position: absolute;
/*    width: auto;
    height: 100%;
    padding-left: 0px;
    margin-left: 0px;
    left: 0px;
    top: 0px;
*/    
}

#video {
  
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    width: auto;
    height: 100%;
    
}

body {
    overflow:hidden;
}